<div class="comment" id="<%= dom_id comment %>">
  <div class="comment-content">
    <%= link_to comment.user.username, user_path(comment.user) %> <%= comment.body %>
    <%# TODO: Add hours ago, number of likes and reply button %>
  </div>
  <div class="comment-like"><button class="btn-fa"><i class="fa-regular fa-heart"></i></button></div>
</div>
<% if comment.replies.exists? %>
  <div class="ps-4">
    <%= render comment.replies %>
  </div>
<% end %>
