<% if user_signed_in? %>
  <div class="post-container">
    <div>
      <img src="https://images.unsplash.com/photo-1599305445671-ac291c95aaa9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" class="my-profile-bg" alt="">
    </div>
    <div class="my-profile-body">
      <img src="https://cdn.dribbble.com/users/1788965/avatars/small/7723792f45aa188dd25e5d4167dbe8b6.jpeg" alt="" class="my-profile-pic">
      <h3 class="my-profile-name"><%= current_user.full_name %></h3>
      <h5 class="my-profile-username">@<%= current_user.username %></h5>
      <p class="my-profile-info"><%= current_user.bio %></p>
      <div class="my-profile-follow-container">
        <div class="my-profile-following-count">
          <a href="#">
            6,791
            <b>Following</b>
          </a>

        </div>
        <div class="my-profile-followers-count">
          <a href="#">
            3,286
            <b>Followers</b>
          </a>

        </div>
      </div>

      <%= link_to "View Profile", current_user, class: "my-profile-link blue-link" %>
    </div>

  </div>
  <div class="post-container py-4">
    <div class="container px-4">
      <div class="row">
        <h3>Who to Follow</h3>
      </div>
      <div class="row">
        <div class="col post-author-ic">
          <img src="https://cdn.dribbble.com/users/1788965/avatars/small/7723792f45aa188dd25e5d4167dbe8b6.jpeg" alt="">
        </div>
        <div class="col post-author-info">
          <div class="name">
            <a href="#">
              Product Hunt
            </a>
          </div>

        </div>
        <div class="col">
          <a href="#" class="btn btn-primary">Follow</a>
        </div>
      </div>
    </div>
  </div>

<% end %>
