<section class="holygrail-content section-main">
  <aside class="left-content">
    <%= render partial: "my_profile_info" %>
  </aside>
  <div class="middle-content">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
  <aside class="right-content">
    <%= render partial: "trending" %>
  </aside>
</section>
