<div class="col-4 post" id="<%= dom_id post %>">
  <%= image_tag post.image_as_medium_thumbnail, class: "post-image" %>
  <div class="post-middle">
    <div class="stats">
      <%# TODO Update the number of likes and comments %>
      <span><i class="fa-solid fa-heart"></i> 2,329 </span>
      <span><i class="fa-solid fa-comment"></i> 2,329 </span>
    </div>
  </div>
</div>
