<section class="holygrail-content section-main">
  <div class="auth-container modal-content">
    <div class="auth-header">
      <h2 class="auth-title">Share New Post</h2>
    </div>

    <%= render "form", post: @post %>

  </div>
</section>
