@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap");

:root {
  --color-bg: #06141d;
  --color-post-bg: #1b2730;
  --color-input-bg: #28343e;
  --color-button-bg: #28343e;
  --color-text1: #6c7a87;
  --color-text2: #f0f8fb;
  --color-border1: #27343d;
  --color-border2: #28343e;
  --color-blue: #1da1f2;

  --color-check: #1da1f2;
  --color-check-disabled: #959495;
}

$feature-bg: #ffd803;

html {
  box-sizing: border-box;
  scroll-behavior: "smooth";
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--color-text2);
  background: var(--color-bg);
  // font-family: "Open Sans", sans-serif;
  font-family: "League Spartan", sans-serif;
  // font-weight: 400;
}

.holygrail-body {
  display: flex;
  flex: 1;
}
.holygrail-content {
  flex: 1;
}
a {
  text-decoration: none;
  color: var(--color-text2);
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: inherit;
  color: var(--color-text1);
}
a.blue-link {
  color: var(--color-blue);
}
hr {
  border: 1px solid var(--color-text1);
}

turbo-frame {
  width: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: var(--color-input-bg) !important;
  border-color: var(--color-input-bg) !important;
  color: var(--color-text2);
}

.btn,
.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
  font-size: 18px;
  text-decoration: none !important;
  // outline: none;
  // box-shadow: none;
}

.form-control,
.form-control:active,
.form-control:focus {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  color: var(--color-text2);
  background: var(--color-input-bg);

  border: none;
  outline: none;
  box-shadow: none;

  box-sizing: border-box;
  line-height: 1em;
  padding: 0.5em;
  // margin-left: 0.1em;
  // border-radius: 0.667em;

  transition: all 0.3s;
}

.field label {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.msg-container {
  width: 100%;
  padding: 1em;
  font-size: 18px;
  background: var(--color-input-bg);
  color: var(--color-text2);
  border-radius: 0;
}

.dropdown-menu-dark {
  --bs-dropdown-color: var(--color-text2);
  --bs-dropdown-bg: var(--color-input-bg);
  --bs-dropdown-link-color: var(--color-text2);
  --bs-dropdown-link-active-bg: var(--color-text1);
}

.b1 {
  border: 1px solid red;
}
.b2 {
  border: 1px solid green;
}
.b3 {
  border: 1px solid blue;
}
.b4 {
  border: 1px solid yellow;
}

//////////////////////////////////////////////////////////
// Header
//////////////////////////////////////////////////////////
.site-header {
  display: flex;
  padding: 2.25em 1.875em 2.5em 1.875em;
  .logo {
    max-width: 32px;
  }
  .logo-text {
    margin-left: 1em;
    max-width: 128px;
  }
}
.logo-container,
.search-container,
.nav-container {
  flex: 1;
  // border: 1px solid green;
}
.search-container {
  text-align: center;
}
.nav-container {
  text-align: right;
}

.main-search {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  background: var(--color-post-bg);
  padding: 2em;
}

.modal-header {
  border-color: var(--color-border2);
}

.modal-title {
  font-size: 2em;
}
.modal-body li {
  font-size: 18px;
}
.modal-footer {
  border-color: var(--color-border2);
  padding-top: 2em;
  // justify-content: space-between;
}

// Navigation

ul.main-nav {
  list-style-type: none;
  // border: 1px solid red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .divider {
    border-right: 1px solid var(--color-border2);
  }
}
.nav-item-link {
  padding: 0.33em 0.66em;
  display: flex;
  align-items: center;
  font-size: 1.25em;
  .fa-container {
    font-size: 1em;
    margin: 0 0.33em 0 0;
  }
  .nav-item-name {
    display: none;
  }
}
.nav-item.active .nav-item-link {
  background: var(--color-text2);
  color: var(--color-bg);
  border-radius: 26px;
  margin-right: 1.1em;
  .fa-container {
    color: var(--color-blue);
  }
  .nav-item-name {
    display: block;
    font-weight: 700;
  }
}

.nav-item.active.dark .nav-item-link {
  background: var(--color-post-bg);
  color: var(--color-text1);
}

ul.main-nav .dd {
  margin-left: 18px;

  .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-bg: var(--color-post-bg);
    --bs-dropdown-color: var(--color-text2);
    border-radius: 20px;
  }
}

.dd-btn {
  display: flex;
  align-items: center;
  border-radius: 26px;
  img {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    object-fit: cover;
    // margin-right: 0.5em;
  }
  span {
    margin-left: 0.4em;
    margin-right: 0.3em;
    margin-top: 0.2em;
  }
}
.dropdown-item {
  color: var(--color-text2);
  font-size: 1.2em;
}

//////////////////////////////////////////////////////////
/// Login Forms
//////////////////////////////////////////////////////////

.auth-container {
  width: 640px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 1em;
  // border: 1px solid var(--color-primary);

  a {
    text-decoration: underline;
  }

  label {
    display: block;
  }

  .auth-header {
    padding: 1em;
    border-bottom: 1px solid var(--color-border2);
  }

  .auth-title {
    font-size: 2.66em;
    font-weight: bold;
  }

  .alert {
    font-size: 18px;
    margin-bottom: 0;
    ul {
      margin-bottom: 0;
    }
  }

  .auth-body {
    padding: 1em;

    .field {
      margin: 1em 0;
    }
    .field-2 {
      margin: 2em 0;
    }
  }

  .auth-footer {
    padding: 1em;
    border-top: 1px solid var(--color-border2);
    border-bottom: 1px solid var(--color-border2);
  }
}

.shared-links {
  padding: 1em;
  a {
    font-size: 18px;
    display: block;
    margin: 0.5em 0;
  }
}

//////////////////////////////////////////////////////////
// Section Main
//////////////////////////////////////////////////////////
.section-main {
  display: flex;
  justify-content: center;
  padding-left: 1.875em;
  padding-right: 1.875em;
  // padding-right: 2em;
  .left-content,
  .middle-content,
  .right-content {
    max-width: 480px;
    // border: 1px solid yellow;
  }
  .middle-content {
    // display: flex;
    max-width: 680px;
    margin-left: 1em;
    margin-right: 1em;
  }
  aside.left-content,
  aside.right-content {
    flex: 1;
  }

  .post-image {
    max-width: none;
    width: 100%;
    max-height: 680px;
    object-fit: cover;
    margin: 0.5em 0 1em 0;
  }
}

.post-container {
  background: var(--color-post-bg);
  width: 100%;
  border-radius: 1em;
  padding: 1em 0;
  margin-bottom: 1em;
}
.post-image-container {
  text-align: center;
}
.post-image {
  max-width: 615px;
  height: 615px;
  margin: auto;
  object-fit: cover;
}

.post-author-container {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  width: 100%;
  display: flex;
  align-items: center;
}

.post-author-ic {
  padding: 0 0.5em;
  img {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    object-fit: cover;
  }
}
.post-author-info {
  // flex: 1;
  text-align: left;
  padding-left: 0.66em;
  .name {
    font-size: 1.25em;
  }
  .username {
    color: var(--color-text1);
  }
  .ago {
    color: var(--color-text1);
    // font-size: 0.8em;
    font-weight: 500;
    // margin-top: 0.25em;
  }
}
.post-ellipsis {
  flex: 1;
  text-align: right;
}
.post-content {
  padding: 0.5em 0;
  text-align: center;
}

.post-actions {
  padding: 0 1.5em;
  display: flex;

  .left {
    flex: 1;
  }
  .like-btn-container {
    width: 50px;
  }
  .right .btn-fa {
    margin-right: 0;
  }

  turbo-frame {
    width: auto;
  }
}

.btn-fa {
  background: none;
  border: none;
  font-size: 1.875em;
  color: white;
  outline: none;
  padding: 0;
  margin-right: 0.667em;

  .liked {
    color: red;
  }
  &:hover {
    color: var(--color-text1);
  }
}

.post-stats {
  display: flex;
  justify-content: space-between;
  padding: 0.75em 1.5em;
  color: var(--color-text1);
  font-weight: 600;
  a {
    color: var(--color-text1);
  }
  a:hover {
    color: var(--color-text2);
  }
}
.comments-container {
  padding: 0.25em 1.5em;
  // font-size: 0.875em;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 350px;

  &::-webkit-scrollbar {
    width: 14px;
    // height: 18px;
  }
  &::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 7px;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .comment {
    width: 100%;
    display: flex;
    margin-bottom: 0.6em;
    .comment-content {
      flex: 1;
      padding-right: 0.875em;
    }
    .comment-like {
      width: 14px;
    }
    .comment-like .btn-fa {
      margin-right: 0;
      font-size: 0.875rem;
    }
  }

  .comment-details {
    color: var(--color-text1);
  }

  .view-all-link {
    color: var(--color-text1);
    display: block;
    margin-bottom: 0.5em;
  }
}

.new-comment-container {
  font-size: 0.875em;
  // margin-top: 1em;
  padding: 16px 1.5em 0 1.5em;
  border-top: 1px solid var(--color-border2);
}

.comment-form {
  width: 100%;
  .form-body {
    display: flex;
    align-items: center;
  }

  .field_with_errors {
    flex: 1;
    padding-right: 1em;
  }

  label {
    // font-size: 1.25em;
  }

  textarea {
    // flex: 1;
    margin-right: 16px;
    height: 55px;
    // font-size: 0.875em;
    box-shadow: none;

    font-size: 18px;
    width: 100%;

    resize: none;
    overflow: hidden;
  }

  textarea:focus {
    // height: 2em;
    outline: none;
  }

  .btn-primary {
    // font-size: 1em;
  }
}

//// Left content
.section-main .left-content .post-container {
  padding-top: 0;
}

.my-profile-bg {
  width: 100%;
  max-height: 9em;
  object-fit: cover;
  display: block;
  border-radius: 1em 1em 0 0;
}

.my-profile-body {
  text-align: center;
}
.my-profile-pic {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  // transform: translateY(-50%);
  width: 96px;
  height: 96px;
  margin-top: -43px;
  object-fit: cover;
}

.my-profile-name {
  margin-top: 0.875em;
}
h5.my-profile-username {
  font-size: 1em;
  color: var(--color-text1);
}
.my-profile-info {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875em;
}
.my-profile-follow-container {
  border-top: 1px solid var(--color-border2);
  border-bottom: 1px solid var(--color-border2);
  padding: 1em;
  display: flex;
  justify-content: center;
}
.my-profile-following-count,
.my-profile-followers-count {
  flex: 1;
  font-size: 1.1em;
  font-weight: 700;
  b {
    display: block;
    color: var(--color-text2);
  }
  a {
    display: block;
    font-weight: 600;
    font-size: 0.875em;
    color: var(--color-text1);
    margin-top: 0.33em;
  }
}
.my-profile-following-count {
  border-right: 1px solid var(--color-border2);
}
.my-profile-link {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

//// Right Aside content
aside.right-content hr {
  margin: 1.5em 0.5em;
}

h5.sub {
  color: var(--color-text1);
  font-size: 0.875em;
  text-transform: uppercase;
  margin-top: 1.66em;
  margin-bottom: 1.66em;
}

.trending-tag-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.trending-tag-container .left {
  flex: 1;
}

.trending-tag-count {
  color: var(--color-text1);
}

// Modal for following and followers
.modal-body {
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;

  .post-author-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    // border-bottom: 1px solid green;
  }
  .post-author-container:last-child {
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  .post-author-info {
    flex: 1;
  }
}

//////////////////////////////////////////////////////////
/// Checkbox
//////////////////////////////////////////////////////////

// https://moderncss.dev/pure-css-custom-checkbox-style/
.check {
  // font-family: system-ui, sans-serif;
  font-size: 1.33rem;
  // font-weight: bold;
  line-height: 1.3;
  display: grid !important;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.check + .check {
  margin-top: 1em;
}

.check--disabled {
  color: var(--color-check-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--color-post-bg);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-check);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  // outline: max(2px, 0.15em) solid currentColor;
  // outline-offset: max(2px, 0.15em);

  // outline: 4px solid currentColor;
  // outline-offset: 4px;
}

input[type="checkbox"]:disabled {
  --color-check: var(--color-check-disabled);

  color: var(--color-check-disabled);
  cursor: not-allowed;
}

//////////////////////////////////////////////////////////
/// USERS SHOW SECTION
//////////////////////////////////////////////////////////
section.users-show {
  .profile-container {
    background: black;
    padding: 60px 25px;
    text-align: center;

    .user-profile-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 150px;
    }

    h2 {
      margin-bottom: 0;
    }
    h2 span {
      color: var(--color-text1);
    }
    .username-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul.stats-container {
      display: flex;
      padding: 0;
      list-style: none;
      margin-top: 20px;
    }
    ul.stats-container li {
      margin-right: 40px;
      font-size: 20px;
    }

    .bio-container {
      margin-top: 20px;
      text-align: left;
      max-width: 400px;
    }
  }
  .w-940 {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    // border: 1px solid red;
  }
  ul.dropdown-menu {
    --bs-dropdown-min-width: 8.15rem;
    --bs-dropdown-bg: var(--color-post-bg);
    --bs-dropdown-color: var(--color-text2);
  }
  .dropdown-item {
    text-align: center;
  }
  .posts-container {
    margin-top: 4em;
  }
  .post {
    // border: 1px solid green;
    // padding-right: 28px;
    // padding-left: 0;
    // padding-right: 0;
    text-align: center;
    // padding-bottom: 28px;
    position: relative;
  }

  .post:nth-child(3n) {
    // Styling for every third element here.
    // padding-right: 0;
    // padding-left: 18px;
  }

  .post:nth-child(3n - 1) {
    // Styling for every third element here.
    // padding-right: 9px;
    // padding-left: 9px;
  }

  .post-image {
    height: 293px;
    width: 100%;
    // overflow: hidden;
    object-fit: cover;

    transition: 0.5s ease;
    backface-visibility: hidden;
    display: block;
  }

  @media (max-width: 768px) {
    .post {
      padding: 0;
      border: 1px solid black;
    }
    .post-image {
      height: 150px;
    }
  }

  .post:hover .post-image {
    opacity: 0.3;
  }

  .post-middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .post:hover .post-middle {
    opacity: 1;
  }
  .stats {
    // background-color: #04AA6D;
    color: var(--color-text2);
    font-size: 18px;
    // padding: 16px 32px;
    font-weight: 700;
    display: flex;
  }

  .stats span:first-child {
    margin-right: 1em;
  }
}

//////////////////////////////////////////////////////////
// POSTS SHOW SECTION
//////////////////////////////////////////////////////////
section.posts-show {
  .post-container {
    display: flex;
    width: 1025px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .post-image-container {
    width: 60%;
  }
  .post-items-container {
    width: 40%;
    padding: 1em 0;
  }

  .comments-container {
  }
  .new-comment-container {
  }
}

//////////////////////////////////////////////////////////
/// Footer
//////////////////////////////////////////////////////////
footer {
  width: 100%;
  margin-top: 1em;
  padding: 4em 1em;
  text-align: center;
  background: var(--color-bg);
}
#return-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
}

//////////////////////////////////////////////////////////
/// Scrollbar
//////////////////////////////////////////////////////////
::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
