<% if notice && controller.controller_name != "home" %>
  <p class="msg-container alert alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
  </p>
<% end %>
